* {
  color: white;
}

body {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: center;
}

.active {
  transition: 0.2s;
  box-shadow: 0 2px 0 black;
}

.navbar {
  justify-content: space-around;
  background-color: #1a89f8;
  font-size: 2em;
  padding: 10px 0;
}
.navbar a {
  background-color: none;
  text-decoration: none;
  color: aliceblue;
  margin: 0 10px;
  cursor: pointer;
  vertical-align: middle;
  line-height: auto;
}

.introduction {
  position: relative;
  background-color: transparent;
  width: 75%;
  margin: 100px auto;
  letter-spacing: 0.15em;
}
.introduction * {
  color: white;
}
.introduction h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 100px;
}
.introduction h2 {
  margin: 50px 0;
  font-size: 2em;
}
.introduction p {
  font-size: 1.5em;
  margin: 50px 0;
}
.introduction .title {
  width: 65%;
}
.introduction .card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 100px auto;
}
.introduction .card-list .card-item {
  max-width: 25%;
  text-align: center;
}

.technologies {
  width: 75%;
  margin: 100px auto;
}
.technologies h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 25px;
}
.technologies .description {
  display: flex;
  flex-flow: row nowrap;
  animation: fadeIn 2s;
}
.technologies .description .content-description {
  padding: 0 25px;
}
.technologies .description .content-description h1 {
  text-align: start;
}
.technologies .description .content-description p {
  margin: 30px 0;
  font-size: 20px;
  letter-spacing: 0.05em;
}
.technologies .description .content-description a {
  font-size: 35px;
  text-decoration: none;
  color: #6fb7ff;
}
.technologies .description .content-description a:hover {
  color: #198cff;
}
.technologies .tech-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  padding: 10px;
}
.technologies .tech-list .tech-item {
  max-width: 180px;
}
.technologies .tech-list .tech-item img {
  max-width: 128px;
}
.technologies .tech-list .tech-item p {
  font-size: 1.5em;
}
.technologies .tech-list .tech-item button {
  background-color: transparent;
  border: none;
  margin: 15px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.technologies .tech-list .tech-item button:hover {
  background-color: rgba(26, 137, 248, 0.425);
}
.technologies .tech-list .tech-item button:focus {
  outline: none;
  background-color: rgba(26, 137, 248, 0.219);
}

.portfolio {
  margin: 150px 0;
}
.portfolio .portfolio-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.portfolio .portfolio-item {
  max-width: 48%;
  border: 2px solid aliceblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
}
.portfolio .portfolio-item img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.portfolio .portfolio-item .title-div {
  position: absolute;
  display: none;
  top: 0;
}
.portfolio .portfolio-item .title-div h2 {
  margin: 0;
}
.portfolio .portfolio-item .title-div img {
  max-width: 32px;
}
.portfolio .portfolio-item:hover .title-div {
  display: block;
}

.contact {
  width: 75%;
  margin: 100px auto;
  font-size: 2em;
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact form * {
  margin: 10px 0;
}
.contact form input {
  font-size: 1.2em;
  color: black;
  border-radius: 5px;
  border: none;
}
.contact form button {
  background-color: dodgerblue;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px 100px;
}

.animation {
  animation: ani-content 2s;
}

.fadeIn {
  animation: fadeIn 1s 0s;
}

@keyframes ani-content {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn {
  text-decoration: none;
  border: none;
  font-size: 25px;
  padding: 10px 30px;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.btn-round {
  border-radius: 10em !important;
}

.btn-blue {
  background-color: dodgerblue;
}

.btn-blue:hover {
  background-color: rgba(30, 143, 255, 0.637);
}

.btn-blue:active {
  background-color: #0080ff;
}

.placeholder {
  position: relative;
  max-width: 75%;
  text-align: center;
  font-size: 45px;
  background-color: #3a3a3a;
  text-shadow: 2px 2px 2px black;
  padding: 15px 0px;
  margin: 0 auto;
  border-radius: 10em;
  top: 5em;
}

.container {
  background-color: #494949;
  border-radius: 15px;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
